*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(#42a5f5, #fff); 
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    padding: 0 10rem;
}